h1 {
	font-family: Georgia, serif;
	font-size: 40px;
}

p {
	font-family: Georgia, serif;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.groove {
	border-style: groove;
}