h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
}

img.profile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	border: none;
	margin-top: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.artbody {
	background-color: #f0bd8b;
}

.box {
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	color: #444444;
	font-size: 18px;
	margin: 0 auto;
	background-color: #f0bd8b;
	border-radius: 2px;
	border: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-image: url('../images/retina_wood.png');
}

.palebox {
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	color: #444444;
	font-size: 18px;
	margin: 0 auto;
	background-color: #f9f4f0;
	border-radius: 2px;
	border: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.preview {
	text-align: center;
	display: block;
}

.art {
	display: inline-block;
	border-radius: 2px;
	border: none;
	margin: 20px;
	width: 200px;
	height: 200px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.fullart {
	display: inline-block;
	border-radius: 5px;
	margin: 0 40px 0 0;
	-moz-box-shadow: 3px 4px 5px rgba(0,0,0,.5);
	-webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.5);
	box-shadow: 3px 4px 5px rgba(0,0,0,.5);
}
