h1 {
	font-family: Georgia, serif;
	font-size: 40px;
}

p {
	font-family: Georgia, serif;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

div.groove {
	border-style: groove;
}